  <link rel="apple-touch-icon" sizes="76x76" href="{% asset favicon/apple_76.png @path %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% asset favicon/apple_60@2x.png @path %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% asset favicon/apple_76@2x.png @path %}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% asset favicon/apple_83.5@2x.png @path %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% asset favicon/apple_60@3x.png @path %}">
  <link rel="icon" type="image/png" href="{% asset favicon/32.png @path %}" sizes="32x32">
  <link rel="shortcut icon" sizes="192x192" href="{% asset favicon/192.png @path %}">
  <link rel="icon" type="image/png" href="{% asset favicon/16.png @path %}" sizes="16x16">
  <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{% asset favicon/apple.svg @path %}" color="{{ site.primary_color }}">
  <meta name="theme-color" content="{{ site.primary_color }}">
