<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item has-special-links">
          &copy; 2004-2016 <a xmlns:cc="http://creativecommons.org/ns#" href="https://tano.si" target="_blank" property="cc:attributionName" rel="cc:attributionURL">Tadej&nbsp;Novak</a>
          <a href="https://tano.si/about/" target="_blank">About</a>&nbsp;<a href="https://tano.si/privacy/" target="_blank">Privacy</a>
        </div>
      </div>
      <div class="level-center">
      </div>
      <div class="level-right">
        <div class="level-item has-special-links">
          <a href="https://tano.si/blog/" target="_blank">Blog</a>
          <a href="https://discuss.tano.si" target="_blank">Discussions</a>
          <a href="https://vlc-qt.tano.si" target="_blank">VLC-Qt</a>
          <a href="https://player.tano.si" target="_blank">Tano&nbsp;Player</a>
        </div>
      </div>
    </nav>

    {% include footer-special.html %}
    </div>
  </div>
</footer>
