<div id="tracking_cookies">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-9 has-text-centered-mobile">
        <strong>This site uses cookies for statistical purposes.</strong>
      </div>
      <div class="column is-3 has-text-right has-text-centered-mobile">
        <a class="button" href="#close" onClick="TrackingCookies.hide(true); return false;">Close</a> <a class="button" href="https://tano.si/privacy/">More</a>
      </div>
    </div>
  </div>
</div>
