.nav
  .logo
    background: url(asset_path('logo.png')) no-repeat center
    +retina
      background-image: url(asset_path('logo@2x.png'))
      background-size: 48px 48px
    +mobile
      background-size: contain
