a:not(.button)
  @include hover-animation

.button
  @include hover-animation

  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)

    &.is-#{$name}
      &.is-hero
        background-color: $color
        border-width: 1px
        border-color: $white
        color: $white

        &:hover,
        &:focus,
        &.is-active
          background-color: $white
          color: $color

        &:active
          color: darken($color, 10%)
