.error
  justify-content: center
  
  .error-title
    display: inline-block
    min-width: 83px
    min-height: 54px
    border-right: 1px solid rgba(0, 0, 0, .3)
    margin-bottom: 0 !important
    margin-right: 20px
    padding: 10px 23px 10px 0
    font-size: $size-2
    font-weight: 500
    vertical-align: top
    text-align: right

  .error-subtitle-container
    display: flex
    align-content: center
    text-align: left
    vertical-align: middle

  .error-subtitle
    font-size: $size-6
    font-weight: normal
    line-height: inherit
    margin: 0
    padding: 0
  
  .error-special
    display: inline-block
    border-left: 1px solid rgba(0, 0, 0, .3)
    margin-bottom: 0 !important
    margin-left: 20px
    padding: 7px 0 7px 23px

.hero-error
  .hero-foot
    font-size: 14px
    padding: 14px
    text-align: center
