html
  height: 100%
  background-color: $white-ter

body
  min-height: 100%

.section
  +mobile
    padding-top: 20px

.hero
  .hero-foot-container
    margin: 0 auto

  &.has-gradient
    $gradient-top-left: $brand-primary
    $gradient-center: lighten($brand-secondary, 10%)
    $gradient-bottom-right: $brand-secondary
    background-image: linear-gradient(141deg, $gradient-top-left 0%, $gradient-center 71%, $gradient-bottom-right 100%)

#hero-home
  .hero-body
    .title
      font-size: $size-1

      +mobile
        font-size: $size-1-mobile

    .tabs
      margin-bottom: 0

    +mobile
      padding: 20px 20px

.is-hidden-weak
  display: none

.is-auto-centered
  margin: 0 auto

.is-vertical-centered
  align-items: center

.is-reversed
  flex-direction: row-reverse

.has-text-centered-mobile
  +mobile
    text-align: center

.tabs
  &.has-text-centered-mobile
    +mobile
      ul
        justify-content: center

.is-tab
  display: none

  &.is-active
    display: block

.anchor
  position: relative
  display: block
  top: -20px

  +mobile
    top: -10px

#tracking_cookies
  display: none
  padding: 10px 0

  .container
    padding: 0 20px
