body
  text-size-adjust: 100%

\::selection
  background: $brand-primary
  color: #FFF

p
  margin-bottom: 0.8em

.is-primary
  color: $primary

.heading
  margin-bottom: 30px
  text-align: center
  text-transform: none

  .subtitle
    font-size: $size-4
    font-weight: $weight-light
    margin-top: (-10px) !important

.footer
  font-size: 14px

  a
    color: $grey-darker

    &:hover,
    &:visited:hover
      color: $link-hover

.icon.is-tiny
  color: $grey-light
  font-size: 10px
  height: 0.5rem
  margin-bottom: 8px
  vertical-align: super
  width: 1rem

@mixin heading
  @each $size in $sizes
    $i: index($sizes, $size)
    $name: h#{$i}
    $name-next: h#{$i + 1}

    #{$name}
      @extend .title
      font-size: $size
      font-weight: $weight-light

    @include mobile
      font-size: nth($sizes-mobile, $i)

      #{$name} + #{$name},
      #{$name} + #{$name-next}
        padding-top: 0 !important

.content,
.heading,
.hero
  .title
    color: $brand-secondary
    font-weight: $weight-light

    &:not(:first-child)
      padding-top: 10px

    &:not(:last-child)
      margin-bottom: 15px

  .subtitle
    color: $subtitle-color
    font-weight: $weight-light

  @include heading
