p
  margin-bottom: 0.8em

.title
  color: $brand-secondary
  font-weight: $weight-title-bold

h1
  @extend .title
  font-size: nth($sizes, 1)

h2
  @extend .title
  font-size: nth($sizes, 2)

h3
  @extend .title
  font-size: nth($sizes, 3)

h4
  @extend .title
  font-size: nth($sizes, 4)

h5
  @extend .title
  font-size: nth($sizes, 5)

.column
  > .title
    margin-bottom: 15px

.heading
  text-align: center
  text-transform: none
  margin-bottom: 20px
