---
layout: personal
---
<section class="section blog">
  <div class="container">
    <div class="heading">
      <h1>{{ page.title }}</h1>
      <h2 class="subtitle">Category archive</h2>
    </div>

    <div class="archive">
{% for post in page.posts %}
  {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentdate != thedate %}
      <h3>{{ currentdate }}</h3>
      {% capture thedate %}{{currentdate}}{% endcapture %}
  {% endif %}
      <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> <small>{{ post.date | date: "%B %-d, %Y" }}</small></h4>
{% endfor %}
    </div>
  </div>
</section>
