<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% asset main.css %}

  {% include common/favicons.html %}
</head>

<body class="error">
  <section class="hero is-primary is-fullheight has-gradient">
    <div class="hero-body">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2>{{ page.subtitle }}</h2>
            {% else %}
            <h2>Oops, you've encountered an error</h2>
            {% endif %}

            {{ content }}

            {% unless page.plain %}
            <p>
              <a href="{{ site.url }}" class="button is-primary is-hero is-large">Home</a>
            </p>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>

    <div class="hero-foot has-text-centered">
      &copy; 2004-2020 Tadej Novak
    </div>
  </section>
</body>

</html>
